body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #f3e7ff, #e0f7fa);
}

.dashboard {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.sidebar h2 {
  color: #7b61ff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.active {
  background: #7b61ff;
  color: white;
  border-radius: 10px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* INPUT */
.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-box input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.input-box button {
  background: #7b61ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

.green { border-left: 6px solid #00c853; }
.red { border-left: 6px solid #ff1744; }
.yellow { border-left: 6px solid #ffab00; }

/* CHARTS */
.charts {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.chart-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
}
