body {
  font-family: Arial;
  background: #f5f7fb;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  grid-column: span 2;
  padding: 12px;
  background: #6c5ce7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.card {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  background: white;
  text-align: center;
}

.green { background: #dff9fb; }
.red { background: #ffe6e6; }
.yellow { background: #fff5cc; }

/* CHARTS */
.charts {
  display: grid;
  gap: 20px;
}
